<!DOCTYPE html>
<html>
  <head>
    <title>Archival</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/5d0250ae65.js" crossorigin="anonymous"></script>
    <script src="/javascripts/script.js" defer></script>
  </head>
  <body>
    <div class="sidebar">
      <nav class="sidebar__nav">
        <i class="fa-solid fa-x sidebar__menu-close-icon"></i>
        <a class="sidebar"href="/cards/search">Search Cards</a>
        <a href="/collections/all">Browse Collections</a>
        <% if (user) { %>
          <a href="/collections">My Collections</a>
          <a href="/logout">Log Out</a>
        <% } else { %>
          <a href="/auth/google">Log In</a>
        <% } %>
      </nav>
    </div>
    <header class="logo-header">
      <i class="fa-solid fa-bars logo-header__menu-open-icon"></i>
      <i class="fa-solid fa-bookmark logo-header__logo"></i>
      <!-- <h1 class="logo-header__text-logo">Archival</h1> -->
    </header>