<!DOCTYPE html>
<html>
  <head>
    <title>Archival</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/5d0250ae65.js" crossorigin="anonymous"></script>
    <script src="/javascripts/script.js" defer></script>
    <script type="text/javascript" src="https://unpkg.com/external-svg-loader@1.3.1/svg-loader.min.js" async></script>
  </head>
  <body>
    <div class="sidebar">
      <nav class="sidebar__nav">
        <div>
          <i class="fa-solid fa-x sidebar__menu-close-icon"></i>
        </div>
        <a href="/">Home</a>
        <a href="/cards/search">Search Cards</a>
        <a href="/collections/all">Browse Collections</a>
        <% if (user) { %>
          <a href="/collections">My Collections</a>
          <a href="/logout">Log Out</a>
        <% } else { %>
          <a href="/auth/google">Log In</a>
        <% } %>
      </nav>
    </div>
    <header class="logo-header">
      <div>
        <i class="fa-solid fa-bars logo-header__menu-open-icon"></i>
      </div>
      <a class="logo-header__logo-link" href="/">
        <i class="fa-solid fa-bookmark logo-header__logo"></i>
      </a>
      <!-- <h1 class="logo-header__text-logo">Archival</h1> -->
    </header>