<%- include('./partials/header') %> 
<main>
  <h1>Archival</h1>
  <h2>Recent Sets</h2>
  <h2>Decks</h2>
  <a href="/cards/search">
    <h2>Search for a Card</h2>
  </a>
</main>
<%- include('./partials/footer') %> 
