:root {
  --color-main-dark: #1F2023;
  --color-secondary-dark: #43454C;
  --text-color-main-dark: rgba(255, 255, 255, 0.87);
  --text-color-secondary-dark: rgba(255, 255, 255, 0.60);
  --text-color-tertiary-dark: rgba(255, 255, 255, 0.38);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input {
  all: unset;
  box-sizing: border-box;
  font-size: 16px;
}

input[type=number] {
  border: 1px solid var(--text-color-secondary-dark);
}

button {
  border-radius: 4px;
  padding: 1rem;
  background-color: var(--text-color-main-dark);
  color: var(--color-main-dark);
  cursor: pointer;
}

body {
  position: relative;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--color-main-dark);
  color: var(--text-color-main-dark);
  width: 100%;
  max-width: 100%;
}

main {
  padding: 1rem;
}

h1 {
  font-size: 2rem;
}

.collection-controls h1 {
  margin-bottom: 0;
}

h1,
h2,
.sidebar__nav a,
.sidebar__menu-close-icon {
  margin-bottom: 1rem;
}

.collection-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.delete-button {
  background-color: #EA384C;
  color: var(--text-color-main-dark);
}

.sidebar {
  height: 100%;
  width: 0;
  background-color: var(--color-main-dark);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #4F9CFA;
}

.sidebar__nav {
  padding: 0.75rem 1rem;
  display: flex;
  flex-direction: column;
}

.sidebar__nav a {
  color: var(--text-color-main-dark);
  font-size: 20px;
  white-space: nowrap;
}

.logo-header {
  padding: 0.75rem 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  border-bottom: 1px solid var(--color-secondary-dark);
}

.logo-header__logo,
.logo-header__menu-open-icon,
.sidebar__menu-close-icon {
  font-size: 28px;
}

.logo-header__menu-open-icon::before,
.sidebar__menu-close-icon::before {
  cursor: pointer;
}

.logo-header__logo-link {
  justify-self: center;
  color: var(--text-color-main-dark);
}

.logo-header__logo-link:visited {
  color: inherit;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-form {
  position: relative;
  background-color: var(--color-main-dark);
  border-radius: 4px;
  margin: auto;
  padding: 1rem;
  width: 85%;
}

.modal-close {
  position: absolute;
  background-color: white;
  font-size: 16px;
  padding: 0.5rem;
  color: var(--color-main-dark);
  border-radius: 50% 50%;
  top: -15px;
  right: -15px;
  cursor: pointer;
}

.collection-name {
  margin-bottom: 0;
}

.collections-display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.collections-display__collection {
  padding: 1rem;
  border-radius: 4px;
  background-color: var(--color-secondary-dark);
}

.card-display {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  position: relative;
}

.card-container img,
.card-display__card__top-flip,
.card-display__card__top-flip__inner {
  border-radius: 10px;
}

.card-display__card__top-flip {
  position: relative;
  margin: 0;
  width: 146px;
  height: 204px;
  min-width: 146px;
  min-height: 204px;
}

.card-display__card__top-flip__inner {
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform 600ms ease;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-display__card {
  display: flex;
  gap: 1rem;
  background-color: var(--color-secondary-dark);
  padding: 0.5rem;
  border-radius: 4px;
}

.card-display__card:nth-child(even) .card-display__card__top-flip {
  right: 0;
}

.card-display__card__top-flip__inner .card-container {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-display__card__top-flip__inner .card-container:last-child {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card-display__card__top-flip__inner:hover {
  transform: rotateY(180deg);
}

.name-set,
.card-price {
  margin-bottom: 0.5rem;
}

.text-secondary {
  color: var(--text-color-secondary-dark);
}

.edit-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.edit-form-buttons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.edit-form select {
  background-color: var(--color-main-dark);
  color: var(--text-color-main-dark);
  border-radius: 4px;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
}

.edit-form button {
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}

.edit-form input {
  width: 30%;
  margin-bottom: 0.5rem;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.search-form {
  margin-bottom: 1rem;
}

#search-bar {
  padding: 1rem 0 1rem 50px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23D9DADE" viewBox="0 0 512 512"><path d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"/></svg>') no-repeat left;
  background-size: 30px;
  background-position: 10px;
  background-color: var(--color-secondary-dark);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  text-align: center;
  -moz-appearance: textfield;
}

input,
.card-details {
  width: 100%;
}

form input {
  background-color: var(--color-secondary-dark);
  color: var(--text-color-secondary-dark);
  cursor: text;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.hide {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

@media screen and (min-width: 800px) {
  .card-display {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1140px) {
  .card-display {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  .card-display {
    grid-template-columns: repeat(4, 1fr);
  }
}